.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs_items {
  padding: 10px;
}

.dialogs_items a {
  text-decoration: none;
  color: beige;
}

.dialog {
}

.dialog .active {
  color: brown;
}

.messages {
  padding: 10px;
}

.message {
}
