.nav {
  grid-area: nav;
  background-color: #88669b;
}

.nav li {
  list-style-type: none;
  padding-bottom: 15px;
}

.item a {
  cursor: pointer;
  color: antiquewhite;
  font-size: 18pt;
  text-decoration: none;
}

.item a.active {
  color: blue;
}
